.array-container{
    position: absolute;
    left: 100px;
    right: 100px;
    /* transform: rotate(180deg); */

}

.array-bar{
    width: 2px;
    background-color: rgb(14, 245, 222);
    display: inline-block;
    margin: 0  1px;
}